<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Saul Gadgets</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    /><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
      body {
        overflow-y: hidden;
        text-align: center;
        align-items: center;
        font-family: "Montserrat";
      }

      div{
        text-align: center;
        margin: auto;
        align-self: center;
        margin-top: 20%;
      }

      .title{
        font-size: 65px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <h1 class="title">YAKINDA</h1>
      <p class="desc">Motivesteron</p>
    </div>
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
  </body>
</html>
